.Container {
  padding: 10px 20px 20px 20px;
}
.modalLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #2d4c66;
  margin-top: 12px;
}
.modalInput {
  padding: 6px 16px;
  border: 1px solid #baccdd;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  font-weight: 400;
  width: 100%;
  /* margin-top: 12px; */
}
.modalInput:focus {
  padding: 8px 16px;
  background: #f5f6f9;
  border: 1px solid #baccdd;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
}
.modalInput::placeholder {
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.25px;
  color: #baccdd;
}
.addToCartButton {
  border: none;
  outline: none;
  border-radius: 4px;
  margin: 10px auto;
  background-color: #fc5447;
  color: white;
  padding: 5px 10px;
  width: 60%;
}
.saveChangesButton {
  border: none;
  outline: none;
  border-radius: 4px;
  margin: 10px auto;
  background-color: #fc5447;
  color: white;
  padding: 5px 10px;
  width: 32%;
}
.productList {
  background: #ffffff;
  border: 1px solid #f5f6f9;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 21px 15px;
  padding-top: 32px;
}
.productListDate {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #001626;
  border-bottom: 1px solid #a7abaa;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.productItem {
  display: flex;
  border: 1px solid #a7abaa;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  width: 85%;
}
.productItemName {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #001626;
}
.productItemPrice {
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.15px;
  color: #001626;
}
.checkoutNameGrid {
  display: grid;
  grid-template-columns: 90% 10%;
}
.quantityDiv {
  margin-top: 15px;
}
.productItemRemoveButton {
  position: absolute;
  top: 1%;
  right: 1%;
  border: none;
  outline: none;
  color: red;
  background-color: transparent;
  float: right;
  font-size: 18px;
}
.quantityButton {
  border: 1px solid #e3e3e3;
  outline: none;
  padding: 0px 10px;
  text-align: center;
}
.quantityDiv span {
  padding: 0px 10px;
  text-align: center;
}
.orderPlaceDiv {
  background: #ffffff;
  border: 1px solid #f5f6f9;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 15px 20px 15px;
}
.orderPlaceDivHeading {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.15px;
  color: #001626;
}
.selectedStoreName {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #001626;
  margin-top: 15px;
}
.selectedStoreMobile {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #6f87a0;
  margin-bottom: 7px;
}
.selectedStoreAddress {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #6f87a0;
  margin-bottom: 10px;
}
.placeOrderDiv {
  text-align: center;
}
.placeOrderDivPrice {
  border: 1px solid #a7abaa;
  padding: 21px 15px;
  width: 60%;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #001626;
}
.redirectButton {
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #001626;
  outline: none;
  margin: 20px 0;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .saveChangesButton {
    width: auto;
  }
  .checkoutForm {
    border: 1px solid #6f87a0;
    border-radius: 4px;
  }
  .placeOrderDiv {
    margin-top: 20px;
    border: 1px solid #a7abaa;
    border-radius: 4px;
  }
  .placeOrderDivPrice {
    border: none;
  }
}
