.Toastify__toast {
  color: white !important;
  background-color: #fc5447 !important ;
  box-shadow: 0px 24px 24px -6px rgba(0, 0, 0, 0.52),
    0px 0px 1px rgba(0, 0, 0, 0.4) !important;
  border-radius: 4px;
  opacity: 0.9;
}

.Toastify__toast-icon {
  display: none !important;
}
